@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #181818;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.btn-glob {
    border: none;
    border-radius: 4px;
    background: #24B47E;
    color: #fff;
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-36 {
    font-size: 36px;
}

.f-48 {
    font-size: 48px;
}

.f-normal {
    font-weight: normal;
}

.f-bold {
    font-weight: bold;
}

.text-color-theme {
    color: #fff;
}

.bg-green {
    background: #24B47E;
}

.color-white {
    color: #fff;
}

.my-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-bg-dark {
    background: rgba(255, 255, 255, 0);
}



.btn-nav {
    width: 128px;
    height: 30px;
}

.my-nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

.storage {
    margin-top: 128px;
}

.color-grey-theme {
    color: #ffffffb2;
}

.header-subtitle {
    width: 80%;
    line-height: 2em;
}

.btn-header {
    width: 138px;
    height: 38px;
}

.benefits {
    margin-top: 100px;
}

.benefits-m {
    padding-bottom: 10px;
}

.sleek {
    margin-top: 200px;
}

.sleek__subtitle {
    line-height: 2.5em;
}

.collection-btn-item-active {
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    background: #2a2a2a;
    border-radius: 4px;
    white-space: nowrap;

}

.collection-btn-item {
    border: none;
    color: #666;
    font-size: 16px;
    padding: 10px 15px;
    background: #2a2a2a00;
    border-radius: 4px;
    white-space: nowrap;
}

.my-border-end {
    border-bottom: 1px solid #2A2A2A;
}

.col-three-subtitle {
    font-size: 16px;
}

.wrapper-example {
    background: #1F1F1F;
}

.wrapper-example__container {
    padding: 20px;
}

.logo-sleek {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

.deploy {
    background: #1374EF;
    width: 100px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

.col-right {
    margin-left: 100px;
}

.start {
    margin-top: 220px;

}

.start__btn {
    padding: 10px 20px;
}

.footer {
    margin-top: 128px;
}

.disable {
    cursor: default;
    color: #666;
}

.hover-none:hover {
    color: #fff;
}

.hover-none-disable:hover {
    color: #666;
}

.toggle-switch {
    position: relative;
    width: 200px;
}

.label-toggle {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #28292c;
    border-radius: 50px;
    cursor: pointer;
}

.input-toggle {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

.input-toggle:checked~.slider {
    background-color: #d8dbe0;
}

.slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px #d8dbe0;
    background-color: #28292c;
    transition: 0.3s;
}

.input-toggle:checked~.slider::before {
    transform: translateX(95px);
    background-color: #28292c;
    box-shadow: none;
}

.toggle-switch {
    transform: scale(0.3);
}